body {
    background-color: antiquewhite;
    margin: 0;
}

.canvas {
    width: 1000px;
    height: 500px;
    background-color: white;
}

.circleBox {
    position: absolute;
    width: 10px;
    height: 10px;
    fill: black;
}

#circle {
    position: absolute;
    width: 10px;
    height: 10px;
}

#lineBox {
    position: absolute;
    width: 1000px;
    height: 500px;
}

#lineStyle {
    stroke: black;
    stroke-width: 1.2px;
}